footer {
  height: 75px;
  display: flex;
  align-items: center;
}

footer a {
  text-align: center;
  color: black;
}

footer a i {
  font-size: 50px;
}

footer p {
  font-size: 25px;
  text-align: center;
}
