main img {
  padding: 30px;
  border: black dashed 3px;
  border-radius: 45%;
}

main p {
  padding: 25px;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: whitesmoke;
}
