#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h3{
        color: rgb(141, 141, 141);
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 2rem;   
    }
    p{
        color: rgb(141, 141, 141);
        font-family: 'Open Sans Condensed', sans-serif; 
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        background-color: rgba(245, 245, 245, 0.384);
        input{
            padding: .25rem;
        }
        textarea{
            resize: none;
            margin-bottom: 1rem;
        }
    }
}



@media (min-width: 768px){

    #contacto{
        p{
            font-size: 1.5rem;
            padding: 1.5rem;
        }
        form{
            width: 50%;
            padding: 3rem;
        }
    }
    
}