/* PALETA DE COLORES */

body{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

// VARIABLES

$black: #000;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "galeria.scss";
