/* FOOTER */

footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    
    a{
        text-align: center;
        color: $black;
    
        i{
            font-size: 3rem;    
        }
    }
    p {
        font-size: 1rem;
        text-align: center;
        
    }
}

