/* GALERIA */

.borde {
    border: black 1px solid;

}
// MAPA MOBILE FIRST
.galeria{
    display: grid;
    grid-template-areas: 
    "foto1"
    "foto2"
    "foto3"
    "foto4"
    "foto9"
    "foto5"
    "foto6"
    "foto8"
    "foto7"
    ;
    grid-template-rows: 1fr .7fr .7fr 1fr 1fr 1fr .3fr 1fr .5fr;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
    border: none;
    background-color: none;
    padding: 3rem;
}

//CONFIGURACION FOTOS MOBILE FIRST - AREAS
img{
    width: 100%;
    height: 100%;
}


.foto1{
    grid-area: foto1;   
}

.foto2{
    grid-area: foto2;
    
    
}

.foto3{
    grid-area: foto3;
    img{
        height: 100%;
    }
}

.foto4{
    grid-area: foto4; 
}

.foto5{
    grid-area: foto5;
    
}

.foto6{
    grid-area: foto6;
    
    
}

.foto7{
    grid-area: foto7;
    
}

.foto8{
    grid-area: foto8;
}

.foto9{
    grid-area: foto9;

}

.foto10{
    grid-area: foto10;
}

.foto11{
    grid-area: foto11;
}

.foto12{
    grid-area: foto12;
}


// MAPA DESKTOP

@media (min-width: 768px){
    .galeria{
        display: grid;
        grid-template-areas: 
        "foto1 foto1 foto4 foto4"
        "foto1 foto1 foto4 foto4"
        "foto1 foto1 foto4 foto4"
        "foto2 foto2 foto4 foto4"
        "foto2 foto2 foto3 foto3"
        "foto2 foto2 foto3 foto3"
        "foto9 foto10 foto11 foto12"
        "foto5 foto6 foto6 foto6"
        "foto5 foto6 foto6 foto6"
        "foto7 foto7 foto7 foto8"
        "foto7 foto7 foto7 foto8"
        ;
        grid-template-rows: .3fr .5fr .3fr .5fr .5fr .3fr .3fr .5fr .3fr .5fr .3fr;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-column-gap: 1rem;
        grid-row-gap: .5rem;
        border: none;
        background-color: none;
    }
//CONFIGURACION IMAGENES EN DESKTOP
        
        img{
            width: 100%;
            height: 100%;
        }
        
        
        
        .foto2{
            height: 66%;
            
        }               
        
}
