/* HEADER */

header{
    box-shadow: black 5px, 5px, 10px;
    margin-bottom: 10vh;
    a{ 
        img{
            width: 65%;
            height: 19vh;
            margin-left: 1rem;
        }   
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
            li{
                a{
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 2rem;
                    font-weight: 0;
                    text-decoration: none;
                    color: $black;
                    margin-left: .5rem;
                }
            }
    }
}

button {
    margin-right: 1rem;
}

.container-fluid {
    
    margin: 0;
    padding: 0;
}

     
    
        