/* MAIN */

$black: #000;

main{
   

    img{
        padding: 15px;
        border: $borde;
        background-color: $bgcElementos;
        border-radius: 15%;       
    }

    p {
        padding: 2rem;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Open Sans Condensed', sans-serif;
        color: whitesmoke;
    }
}

@media (min-width: 768px){
    main{
        p {
            font-size: 2rem;
        }
    }
}
