

$black: #000;

main{
   

    img{
        padding: 15px;
        border: rgb(61, 58, 58) solid 3px;
        background-color: rgba(31, 27, 27, 0.555);
        border-radius: 15%;       
    }

    p {
        padding: 2rem;
        text-align: center;
        font-size: 1rem;
        font-family: 'Open Sans Condensed', sans-serif;
        color: whitesmoke;
    }
}

@media (min-width: 768px){
    p {
        font-size: 2rem;
    }
}
