/* NOSOTROS */

section{
    border: $borde;
    background-color: $bgcElementos;
    border-radius: 0;
    padding: 5rem;
    margin-bottom: 2rem;
}

.caja {
    background-color: rgba(245, 245, 245, 0.514);
    width: 90%;
    height: 45rem;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width: 35%;
        height: 50%;
        margin: auto;
        margin-bottom: .5rem;
    }
    h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2rem;
        text-align: center;
        color: $black;
    }
    p {
        font-size: 1.3rem;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        padding: .5rem;
    }
}



@media (min-width: 768px){
    #cuerpo section {
        display: flex;
        flex-direction: column;
        
    }

    .caja {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30rem;
        width: 90%;
        img{
            height: 100%;
            width: 30%;
            margin-bottom: 0;
        }
        p, h2, h3, h4, h5, h6 {
            margin: 0 1rem;
        }
    }
}
