/* NOSOTROS */

.caja {
    background-color: rgba(245, 245, 245, 0.514);
    width: 15rem;
    height: 30rem;
    margin: auto;
    margin-bottom: 2rem;
    img{
        width: 100%;
        height: 45%;
        margin-bottom: .5rem;
    }
    h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2rem;
        text-align: center;
        color: $black;
    }
    p {
        font-size: 1.3rem;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        padding: .5rem;
    }
}

section{
        border: rgb(61, 58, 58) solid 3px;
        background-color: rgba(31, 27, 27, 0.555);
        border-radius: 0;
        padding: 5rem; 
}

@media (min-width: 767px) and (max-width: 916px){
    .caja{
        width: 17rem;
        p{
            font-size: 1.1rem;
        }
    }
}



@media (min-width: 768px){
    #cuerpo section {
        display: flex;
        flex-direction: row;
        border-radius: 15%;
    }

    .caja {
        margin-left: 1rem;
    }
}