/* NOSOTROS */

section{
    border: $borde;
    background-color: $bgcElementos;
    border-radius: 0;
    padding: 5rem;
    margin-bottom: 2rem;
}

.caja {
    background-color: rgba(245, 245, 245, 0.514);
    width: 100%;
    height: 40rem;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
    img{
        width: 80%;
        height: 35%;
        margin-left: 10%;
        margin-bottom: 1rem;
    }
    
    h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        color: $black;
    }
    
    p {
        font-size: 1.2rem;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        padding: .5rem;
                   
        }
    }
    
.parrafoDesktop{
    display: none;
}

.parrafoMobile{
    display: block;
}






@media (min-width: 768px){
    #cuerpo section {
        display: flex;
        flex-direction: column;
        
    }

.parrafoMobile{
    display: none;
}

.parrafoDesktop{
    display: block;
}

    .caja {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 31rem;
        width: 90%;    
        img{
            height: 100%;
            width: 30%;
            margin-bottom: 0;
            margin-left: 0;
        }
        p{ 
            margin: 0 1rem;
            font-size: 1.25rem;
            font-family: 'Open Sans Condensed', sans-serif;
            text-align: center;
            padding: .3rem;

        } 
        h2, h3, h4, h5, h6 {
            margin: 0 1rem;
            font-size: 2.5rem;
            font-family: 'Open Sans Condensed', sans-serif;
            text-align: center;
            padding: .5rem;
            
        }
    }
}




