
// VIDEOS

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    iframe{
        height: 20rem;
        width: 300px;
        margin-bottom: 2rem;
    }
}

.vidDesktop{
    display: none;
}

.vidMobile{
    display: block;
}

@media (min-width: 768px){

    section{
        display: flex;
        flex-direction: row;
        iframe{
            height: 20rem;
            width: 20rem;
            margin-bottom: 2rem;
        }
    }
    .vidDesktop{
        display: block;
    }
    
    .vidMobile{
        display: none;
    }


}