/* PALETA DE COLORES */

.container-fluid{
    height: 100%;
}

body{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    height: 100%;
    
}

html {
    font-size: 15px;
}

h1 {
    display: none;
}

// VARIABLES

$black: #000;
$borde: rgb(61, 58, 58) solid 3px;
$bgcElementos: rgba(31, 27, 27, 0.555);


@import "../node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "main";
@import "footer";
@import "galeria";
@import "nosotros";
@import "videos";
@import "contacto";