/* PALETA DE COLORES */

body{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    height: 100%;
    width: 100%;
}

// VARIABLES

$black: #000;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "main";
@import "footer";
@import "galeria";
